{% load static %}
<link rel="stylesheet" href="{% static 'home/css/header.css' %}">
<link rel="stylesheet" href="{% static 'home/css/contact.css' %}">

<main class="">
    <div class="layui-col-md-offset2 layui-col-md8 mb-4">
        <h1 class="page-title" style="font-size: 2rem;">
            <span class="font-weight-bold">Team</span>
        </h1>
        <hr class="layui-border-cyan">
        <p class="page-content-p">
            <strong>OptADMET</strong> is developed and maintained by the CBDD team of Central South University, the HIT
            team of National
            University of Defense Technology, and the Innovation Institute for Artificial Intelligence in Medicine of
            Zhejiang University. The authors of OptADMET are as follows:
        </p>
        <ul class="page-content-ul">
            <li><strong>Jiacai Yi</strong>, Xiangya School of Pharmaceutical Sciences, Central South University, P. R. China; College of Computer, National University of Defense Technology, P. R. China</li>
            <li><strong>Shaohua Shi</strong>, Xiangya School of Pharmaceutical Sciences, Central South University, Changsha, 410013, Hunan, China; School of Chinese Medicine, Hong Kong Baptist University, Hong Kong SAR 999077, China</li>
            <li><strong>Li Fu</strong>, Xiangya School of Pharmaceutical Sciences, Central South University, Changsha, 410013, Hunan, China; CarbonSilicon AI Technology Co., Ltd, Hangzhou 310018, Zhejiang, P. R. China</li>
            <li><strong>Ziyi Yang</strong>, Xiangya School of Pharmaceutical Sciences, Central South University, P. R. China</li>
            <li><strong>Pengfei Nie</strong>, National Supercomputer Center in Tianjin, Tianjin 300457, Tianjin, China</li>
            <li><strong>Aiping Lu</strong>, School of Chinese Medicine, Hong Kong Baptist University, Hong Kong SAR 999077, China</li>
            <li><strong>Chengkun Wu</strong>, School of Computer Science, National University of Defense Technology, Changsha 410003, Hunan, China</li>
            <li><strong>Yafeng Deng</strong>, CarbonSilicon AI Technology Co., Ltd, Hangzhou 310018, Zhejiang, P. R. China</li>
            <li><strong>Changyu Hsieh</strong>, CarbonSilicon AI Technology Co., Ltd, Hangzhou 310018, Zhejiang, P. R. China; College of Pharmaceutical Sciences, Zhejiang University, Hangzhou 310058, Zhejiang, China</li>
            <li><strong>Xiangxiang Zeng</strong>, Deparment of Computer Science, Hunan University, Changsha 410082, Hunan, China</li>
            <li><strong>Tingjun Hou</strong>, Hangzhou Institute of Innovative Medicine, College of Pharmaceutical Sciences, Zhejiang University, P. R. China</li>
            <li><strong>Dongsheng Cao</strong>, Xiangya School of Pharmaceutical Sciences, Central South University, P. R. China</li>
        </ul>
        <br>
        <h1 class="page-title" style="font-size: 2rem;">
            <span class="font-weight-bold">General correspondence</span>
        </h1>
        <div class="layui-row">
            <div class="layui-col-sm12 layui-col-md6 layui-col-lg6 px-3">
                <div class="layui-panel mb-4">
                    <div style="padding: 30px;" class="d-flex justify-content-between align-items-center">
                        <p>
                            <strong>Dr. Dongsheng Cao</strong> <br>
                            <a href="mailto:oriental-cds@163.com">oriental-cds@163.com</a> <br> <br>
                            Professor <br>
                            Central South University <br>
                            Changsha, Hunan, China
                        </p>
                        <img src="/deploy/optadmet/static/contact/img/CDS.jpg" alt="user-image">
                    </div>
                </div>
            </div>
            <div class="layui-col-sm12 layui-col-md6 layui-col-lg6 px-3">
                <div class="layui-panel mb-4">
                    <div style="padding: 30px;" class="d-flex justify-content-between align-items-center">
                        <p>
                            <strong>Dr. Tingjun Hou</strong> <br>
                            <a href="mailto:tingjunhou@zju.edu.cn">tingjunhou@zju.edu.cn</a> <br> <br>
                            Professor <br>
                            Zhejiang University <br>
                            Hangzhou, Zhejiang, China
                        </p>
                        <img src="/deploy/optadmet/static/contact/img/HTJ.png" alt="user-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>