{% load static %}
<link rel="stylesheet" href="{% static 'home/css/header.css' %}">
<link rel="stylesheet" href="{% static 'home/css/contact.css' %}">
<main class="">
    <div class="layui-col-md-offset2 layui-col-md8 mb-4">

        <h1 class="page-title" style="font-size: 2rem;">
            <span class="font-weight-bold">Terms</span>
        </h1>
        <hr class="layui-border-cyan">

        <h4 class="">Disclaimer</h4>

        <p class="page-content-p">
            XXX
        </p>

        <h4 class="">Privacy policy</h4>
        <p class="page-content-p">
            We collect some of your personal data:
        </p>
        <p class="page-content-p-2">
            Location of IP address
        </p>
        <p class="page-content-p-2">
            Date and time of visit to the service
        </p>
        <p class="page-content-p">
            We use
            <script type="text/javascript"
                    src="//rf.revolvermaps.com/0/0/9.js?i=5gsgpjluar4&amp;t=RevolverMaps"
                    async="async"></script>
            to collect statistics about DDInter. These statistics are not used to
            track users
            individually, but rather to monitor the performance and the usage of the website.
        </p>
        <h4 class="">Data licensing</h4>
        <p class="page-content-p">
            The DDInter data is made available under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0
            International license. Except as otherwise provided in any additional terms for a service, you may print or
            download content from the services for your own personal, non-commercial, informational or scholarly use.
        </p>
        <h4 class="">Acknowledgments</h4>
        <p class="page-content-p">
            XXX
        </p>
        <h4 class="">Funding</h4>
        <p class="page-content-p">
            This work was supported by grants from the following funding
        </p>
        <p class="page-content-p-2">
            XXX
        </p>
    </div>
</main>