#data-header {
    background-color: #3D4D68;
    opacity: .9;
    padding: 10px;
    justify-content: space-between;
}

.nav-link {
}

.ui.inverted.button.active:focus {
    background: #fff;
    border-color: #fff;
}

.nav-item {
    color: #fff;
    box-shadow: 0 0 0 2px #fff inset !important;
    background: transparent none;
    border-radius: .28571429rem;
}

.ui.button {
    margin: 0;
}

.title {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 700;
}

.download-content {
    margin-top: 2rem;
}

.layui-tab-title {
    /*white-space: nowrap;*/
    font-size: 0;
    border-bottom-width: 0;
    transition: all .2s;
    -webkit-transition: all .2s;
    margin-bottom: 0;
}

.layui-tab-title .layui-this:after {
    border-width: 0;
    border-style: none;
}


.table > :not(:last-child) > :last-child > * {
    border-bottom-color: inherit;
}

.ui.table thead th {
    background-color: #3D4D68;
    opacity: .9;
    border-radius: 0;
    color: #fff;
}

.ui.table thead tr:first-child > th:first-child, .ui.table thead tr:first-child > th:last-child {
    border-radius: 0;
}

.ui.celled.table tr th {
    border-left-color: #fff;
}

.layui-input {
    border-color: rgba(40, 58, 90, 0.7);
}

.layui-form-select dl {
    padding: 0;
}

.layui-form-select dl dd, .layui-form-select dl dt {
    margin-bottom: 0;
}

.layui-form-select dl dd.layui-this {
    background-color: rgba(40, 58, 90, 0.7);
}

#jsme_container {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

#jsme_container div {
    margin: 0 auto;
}

#loading-btn {
    background: none;
    box-shadow: none;
    width: 100%;
    margin: 0 auto;
}

.ui.modal > .content {
    height: 100%;
}

.content-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.load {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
}

.load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite;
    border-bottom: none !important;
    opacity: .8;
}

.load :first-child {
    /*background: #19A68C;*/
    background: #F15431;
    animation-delay: -1.5s
}

.load :nth-child(2) {
    /*background: #F63D3A;*/
    background: #83BC32;
    animation-delay: -1s
}

.load :nth-child(3) {
    /*background: #FDA543;*/
    background: #14A6EC;
    animation-delay: -0.5s
}

.load :last-child {
    background: #FEBA38;
    /*background: #193B48*/
}

@keyframes spin {
    0%, 100% {
        transform: translate(0)
    }
    25% {
        transform: translate(160%)
    }
    50% {
        transform: translate(160%, 160%)
    }
    75% {
        transform: translate(0, 160%)
    }
}